html {
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto';
    font-style: normal;
    color: #757575;
}
ul {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}
/* колір текста опису color: #757575  */
/* колір заголовків color: #212121 */
/* колір основного тексту та footer color: #ffffff */
/* кольори .logo color: #2196f3 color: #000000 */
:root {
    --tittle-color: #212121;
    --description-color: #757575;
}
.list {
    list-style: none;
}
/* css in studio.html */
.web {
    color: #2196F3;
}
.studio-upper {
    color: #000000;
}
.studio-lower {
    color: #ffffff;
}
.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        text-decoration: none;
        width: 145px;
        padding-top: 21px;
        padding-bottom: 21px;
}
.main-nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item {
    margin-right: 50px;
}
.site-nav .item:last-child {
    margin-right: 0px;
}
.links {
font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--tittle-color);   
    text-decoration: none;
        display: block;
    width: 72px;
}
.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--tittle-color);
    text-decoration: none;
    display: block;
    width: 64px;
}
.studio {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--tittle-color);
        text-decoration: none;
        display: block;
        width: 45px;
}
.studio:hover,.studio:focus {
    color: #2196F3;;
}
.nav-contact {
    display: flex;
    margin-left: auto;
}
.nav-contact .item + .item {
  margin-left: 50px;  
}
.company {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    width: 696px;
    margin: 0px auto;
    margin-bottom: 30px;
}
.studio-button {
    background: #2F303A;
    padding: 200px 0px;
}
.button {
padding: 10px 32px;
min-width: 216px;
height: 50px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0px auto;
    display: block;
}
.button-meaning {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
}        
.button:active,.button:hover {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.company-features {
font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tittle-color);
    width: 270px;
    padding-bottom: 10px;
    padding-right: 30px;
}
.company-description {
    display: flex;
}
.company-description .item {
    margin-right: 30px;
    width: 270px;
}
.company-description .item:last-child {
    margin-right: 0px;
}
.team-container {
    display: flex;
}
.team-container .team-card {
 margin-right: 30px;
}
.team-container .team-card:last-child {
    margin-right: 0px;
}
.team-section
.features-description {
font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--description-color);
    min-width: 270px;
    padding-top: 10px;
}
.company-work {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--tittle-color);
        margin-bottom: 50px;
        min-width: 366px;
}
.pic {
    width: 370px;
}
.work-pic {
    display: flex;
}
.work-pic .item {
    margin-right: 30px;
    width: 370px;
}
.team-section {
background: #F5F4FA; }
.our-team {
font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        margin-bottom: 50px;
        text-align: center;
        min-width: 264px;
}
.team-card {
    background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.team-section {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background: #F5F4FA;
}
.member-discription-1 {
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
margin-bottom: 10px;
}
.member-discription-2 {
padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.member-discription-3 {
padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.member-discription-4 {
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
margin-bottom: 10px;
}
.team-work-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--description-color);
    letter-spacing: 0.03em;
}
.team-work-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--description-color);
    letter-spacing: 0.03em;
}
.team-work-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--description-color);
    letter-spacing: 0.03em;
}
.team-work-4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--description-color);
    letter-spacing: 0.03em;
}
.team-name-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--tittle-color);
    letter-spacing: 0.03em;
}
.team-name-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--tittle-color);
    letter-spacing: 0.03em;
}
.team-name-3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--tittle-color);
    letter-spacing: 0.03em;
}
.team-name-4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--tittle-color);
    letter-spacing: 0.03em;
}
.logo-studio {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-left: 215px;
    width: 145px;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        text-decoration: none;
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #fff;
    padding-bottom: 9px;
    margin-left: 215px;
    width: 231px;
}
.studio-address {
font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        padding-bottom: 9px;
        margin-left: 215px;
        width: 231px;
}
.studio-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-top: 9px;
    margin-left: 215px;
    width: 231px;
}
.header-number {
font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--description-color);
        text-decoration: none;
}
.header-adres {
font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--description-color);
        text-decoration: none;
        width: 135px;
}
.header-adres:hover,
.header-adres:focus {
    color: #2196F3;
}
.studio-footer {
    background: #2F303A;
}
/* css in portfolio.html */
.portfolio-studio:hover,.portfolio-studio:focus{
    color: #212121;
}
.portfolio {
font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: #2196F3;
        text-decoration: none;
}
.portfolio-contacts {
font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--tittle-color);
        text-decoration: none;
}
.portfolio-adres {
        width: 135px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--description-color);
        text-decoration: none;
}
.portfolio-adres:hover,.portfolio-adres:focus{
    color: #2196F3;
}
.color {
    background-color: #F5F5F5;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-container .item {
    margin-right: 8px;
}
.button-container .item:last-child {
    margin-right: 0px;
    margin-left: 0px;
}

.button-all{
font-family: 'Roboto';
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        cursor: pointer;
        text-align: center;
        border: 1px transparent;
        padding: 6px 22px;
        height: 38px;
        border-radius: 4px;
}
.button-all:hover,.button-all:focus{
    background-color: #2196F3;
    border: 1px transparent;
    border-radius: 4px;
}
.button-web {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        background-color: #F5F4FA;
        cursor: pointer;
        text-align: center;
            border: 1px transparent;
            border-radius: 4px;
            height: 38px;
            padding: 6px 22px;
}
 .button-app {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        background-color: #F5F4FA;
        cursor: pointer;
        text-align: center;
            border: 1px transparent;
            border-radius: 4px;
            padding: 6px 22px;
            height: 38px;
    }
    .button-design {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            letter-spacing: 0.03em;
            color: var(--tittle-color);
            background-color: #F5F4FA;
            cursor: pointer;
            text-align: center;
                border: 1px transparent;
                border-radius: 4px;
                padding: 6px 22px;
                min-width: 103px;
        }
.button-marketing {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        background-color: #F5F4FA;
        cursor: pointer;
        text-align: center;
        border: 1px transparent;
        border-radius: 4px;
        height: 38px;
        padding: 6px 22px;
    } 
    .flex-container {
     display: flex;
     flex-wrap: wrap; 
    }
    .flex-element {
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;

    } 
    .flex-element:nth-child(3n) {
        margin-right: 0px;
    }
.flex-element:nth-last-child(-n+3) {
margin-bottom: 0px;
}
.cards {
    background: #FFFFFF;
        border: 1px solid #EEEEEE;
}
.sale-discription {
    padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 24px;
}
.name-1 {
font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--tittle-color);
        min-width: 322px;
    }
.name-2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tittle-color);
    min-width: 322px;
 }
 .name-3 {
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--tittle-color);
        min-width: 322px;
 }
 .name-4 {
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--tittle-color);
        min-width: 322px;
 }
 .name-5 {
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--tittle-color);
        min-width: 322px;
 }
 .name-6 {
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--tittle-color);
        min-width: 322px;
 }
 .name-7 {
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--tittle-color);
        min-width: 322px;
 }
 .name-8 {
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--tittle-color);;
        min-width: 322px;
 }
 .name-9 {
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--tittle-color);
        min-width: 322px;
 }
.description-1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: var(--description-color);
        min-width: 322px;
}
.description-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--description-color);
        min-width: 322px;
}
.description-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--description-color);
        min-width: 322px;
}
.description-4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--description-color);
    min-width: 322px;
 }
.description-5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--description-color);
        min-width: 322px;
}
.description-6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--description-color);
        min-width: 322px;
}
.description-7 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--description-color);
        min-width: 322px;
}
.description-8 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--description-color);
        min-width: 322px;
}
.description-9 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--description-color);
        min-width: 322px;
}
.portfolio-footer {
    background: #2F303A;
}
.logo-portfolio {
display: inline-block;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-left: 215px;
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--tittle-color);
    text-decoration: none;
}
.portfolio-address {
font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 215px;
    width: 231px;
}
.portfolio-number {
font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-top: 9px;
    margin-left: 215px;
    width: 231px;
}