body {
    font-family: 'Roboto';
    font-style: normal;
    color: #757575;
}
/* колір текста опису color: #757575  */
/* колір заголовків color: #212121 */
/* колір основного тексту та footer color: #ffffff */
/* кольори .logo color: #2196f3 color: #000000 */
:root {
    --tittle-color: #212121;
    --description-color: #757575;
}
.list {
    list-style: none;
}
/* css in studio.html */
.web {
    color: #2196F3;
}
.studio-upper {
    color: #000000;
}
.studio-lower {
    color: #ffffff;
}
.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        text-decoration: none;
}
.studio {
font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--tittle-color);   
    text-decoration: none;
}
.studio:hover,.studio:focus {
    color: #2196F3;;
}
.studio-portfolio {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--tittle-color);
        text-decoration: none;
}
.studio-contacts {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--tittle-color);
        text-decoration: none;
}
.company {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}
.studio-button {
    background: #2F303A;
}
.button-meaning {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
}
.button:active,.button:hover {
    background: #2196F3;
}
.company-features {
font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tittle-color);
}
.features-description {
font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--description-color);
}
.company-work {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
}
.team {
    
        background: #F5F4FA;
}
.our-team {
font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
}
.team-card {
    background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--tittle-color);
}
.team-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--description-color);
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #fff;
}
.footer-contacts {
font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.header-number {
font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--description-color);
        text-decoration: none;
}
.header-adres {
font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--description-color);
        text-decoration: none;
}
.header-adres:hover,
.header-adres:focus {
    color: #2196F3;
}
.studio-footer {
    background: #2F303A;
}
/* css in portfolio.html */
.portfolio-studio:hover,.portfolio-studio:focus{
    color: #212121;
}
.portfolio {
font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: #2196F3;
        text-decoration: none;
}
.portfolio-contacts {
font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--tittle-color);
        text-decoration: none;
}
.portfolio-adres {

        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--description-color);
        text-decoration: none;
}
.portfolio-adres:hover,.portfolio-adres:focus{
    color: #2196F3;
}
.button-all{
font-family: 'Roboto';
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        cursor: pointer;
        
}
.button-all:hover,.button-all:focus{
    background-color: #2196F3;
}
.button-web {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        background-color: #F5F4FA;
        cursor: pointer;
}
 .button-app {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        background-color: #F5F4FA;
        cursor: pointer;
    }
    .button-design {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            letter-spacing: 0.03em;
            color: var(--tittle-color);
            background-color: #F5F4FA;
            cursor: pointer;
        }
.button-marketing {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--tittle-color);
        background-color: #F5F4FA;
        cursor: pointer;
    }  
.cards {
    background: #FFFFFF;
        border: 1px solid #EEEEEE;
}
.name {
font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--tittle-color)
}
.description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: var(--description-color)
}
.portfolio-footer {
    background: #2F303A;
}