.agree__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked+.agree__checkbox-icon {
            border-color: #2196F3;
            background-color: #2196F3;
            background-image: url(../images/icon-check.svg);
            background-size: contain;
            background-origin: border-box;
        }
}

.agree__checkbox-icon {
    width: 16px;
    height: 15px;
    display: inline-block;
    border: 2px solid #212121;
    border-radius: 2px;
}

.agree__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    margin-right: auto;
    margin-left: auto;
}
.agree {
    display: flex;
    margin-top: 20px;
}

.agree__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 1.16px;
    margin-right: 2px;
    margin-left: 7px;
}

.button-send {
    width: 200px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid transparent;

    &:hover,&:focus {
            background-color: #188CE8;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
        }
}

.button-2 {
    margin-left: 120px;
}

.send {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.agree-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196F3;
}