.company-features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tittle-color);
    width: 270px;
    padding-bottom: 10px;
}

.company-description {
    @media (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        gap:30px
    }
         @media (min-width: 1200px) {
            display: flex;
         }
}

.company-description__item {
    margin-right: 30px;
    width: 270px;
    @media (min-width: 768px) and (max-width: 1199px) {
            width: 324px;
        }
}

.company-description .item:last-child {
    margin-right: 0px;
}
.company__work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--tittle-color);
    margin-bottom: 50px;
    min-width: 366px;
}

.company__pic-position {
    position: relative;
}

.company__overlay-2 {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
}

.company__overlay-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.company__work-pic {
    display: flex;
}

.company__work-pic .item {
    margin-right: 30px;
    width: 370px;
}
.pic {
    width: 370px;
}
.company {
    @media (min-width: 320px) and (max-width: 1199px) {
        display: none;
    }
}