.foot {
    display: flex;
    align-items: baseline;
}

.footer-container {
    display: inline-block;
}

.social__join {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 116px;
}

.subscribe__tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.subscribe__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: #fff;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
}

.subscribe__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
    position: relative;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    cursor: pointer;
}

.subscribe__discription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.subscribe__telegram {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.subscribe__container {
    display: flex;
    flex-direction: row;
}

.subscribe {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.social {
    width: 208px;
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #fff;
    width: 231px;
    margin-right: 70px;
    margin-bottom: 9px;
}

.footer__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    width: 231px;
}

.footer-item {
    margin-bottom: 9px;
}

.footer__number {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    width: 231px;
}
.studio-footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-studio {
    display: inline-block;
    padding-bottom: 20px;
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--tittle-color);
    text-decoration: none;
}
.studio-lower {
    color: #ffffff;
}