.web {
    color: #2196F3;
}

.studio-upper {
    color: #000000;
}
.main-nav {
    // display: flex;
    align-items: center;
    border:  1px solid #ECECEC;;
    @media (min-width: 480px) and (max-width:768px) {
            margin-top: 16px;
            margin-bottom: 16px;
        }
                 @media (min-width: 0px) {
                    border: none;
                 }
}

.main-nav__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--tittle-color);
    text-decoration: none;
    width: 145px;
    padding-top: 21px;
    padding-bottom: 21px;
}