.section {
    padding-bottom: 94px;
    padding-top: 94px;
    @media (min-width: 480px) and (max-width:768px) {
    padding-bottom: 60px;
        padding-top: 60px;
    }
}
.section-description {
    padding-top: 94px;
}