.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item {
    margin-right: 50px;
}

.site-nav__item:last-child {
    margin-right: 0px;
}

.site-nav__links {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--tittle-color);
    text-decoration: none;
    display: block;
    width: 72px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            color: #2196F3;
        }
    
        &:focus {
            color: #2196F3;
        }
}

.site-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--tittle-color);
    text-decoration: none;
    display: block;
    width: 64px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
            color: #2196F3;
        }
    
        &:focus {
            color: #2196F3;
        }
}

.site-nav__studio {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--tittle-color);
    text-decoration: none;
    display: block;
    width: 45px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: #2196F3;
    }

    &:focus {
        color: #2196F3;
    }
}

.current::after {
    position: absolute;
    left: 0;
    top: 42px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196F3;
}