.social-links {
    text-decoration: none;
}

.social-links:hover .instagram,
.social-links:focus .instagram {
    fill: #FFFFFF;
}

.instagram {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    border: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-links:hover .twitter,
.social-links:focus .twitter {
    fill: #FFFFFF;
}

.twitter {
    height: 20px;
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-links:hover .facebook,
.social-links:focus .facebook {
    fill: #FFFFFF
}

.facebook {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-links:hover .linkedin,
.social-links:focus .linkedin {
    fill: #FFFFFF;
}
.social__links-2 {
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
    &:focus {
        background-color: #2196F3;
    }
}

.linkedin {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.instagram:hover,
.instagram:focus {
    fill: #FFFFFF;
}

.twitter:hover,
.twitter:focus {
    fill: #FFFFFF;
}

.facebook:hover,
.facebook:focus {
    fill: #FFFFFF;
}

.linkedin:hover,
.linkedin:focus {
    fill: #FFFFFF;
}

.team-card a:focus svg {
    fill: #FFFFFF;
}

.social-links {
    background-color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,&:focus {
        background-color: #2196F3;
        }
    }

    