.features-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--description-color);
    min-width: 270px;
    padding-top: 10px;
    @media (min-width: 480px) and (max-width:768px) {
    display: block;
            width: 450px;
    }
}
.team-section {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--description-color);
        min-width: 270px;
        padding-top: 10px;
    }
.teams-section {
    background: #F5F4FA;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--tittle-color);
    margin-bottom: 50px;
    text-align: center;
    min-width: 264px;
}

.team {
    // display: flex;
}

.team .team__card {
    
}

.team .team__card:last-child {
    
}

.team__card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-section {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #F5F4FA;
}

.team__member-discription-1 {

}

.team__member-discription-2 {

}

.team__member-discription-3 {

}

.team__member-discription-4 {
}

.team__work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--description-color);
    letter-spacing: 0.03em;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--tittle-color);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}