html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    list-style: none;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    color: #757575;
}
:root {
    --tittle-color: #212121;
    --description-color: #757575;
}